:root {
    --cube-size: 150px;
    --text-size: 40px;
    --border-size: 20px;
    --gap: 1.8;
    --main-color: #2596be;
    --main-color-transparent: rgba(220, 100, 255, 0.4);
    --translateYLeft: 0;
    --translateYRight: 0;
    --duration: 1.7s;
}

.particles-effect {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: 1; */
    opacity: 0.2;
}
#myForm{
    position: relative;
    z-index: 22;
    background: none;
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v179/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
}

@media (max-width: 768px) {
    :root {
        --cube-size: 100px;
        --text-size: 20px;
        --border-size: 15px;
    }
}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.preLoader {
    color: white;
    background-color: rgb(46, 45, 45);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 100px 0 0;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    z-index: 999;
}

.postLoader {
    background-color: #1b5577;
}

@keyframes moveInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.moveInRight {
    animation: moveInRight 1s forwards;
}


.background {
    position: absolute;
    top: -100%;
    left: -100%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at 100% 50%,
            transparent 20%,
            #00d4f0 21%,
            #00d4f0 34%,
            transparent 35%,
            transparent),
        radial-gradient(circle at 0% 50%,
            transparent 20%,
            #00d4f0 21%,
            #00d4f0 34%,
            transparent 35%,
            transparent) 0 -50px;
    background-size: 16px 20px;
    opacity: 0.07;
    animation: movingGradient 35s linear infinite;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.cube {
    position: relative;
    top: -10vh;
    z-index: 2;
    transform-style: preserve-3d;
    transform: rotateX(20deg) rotateY(-135deg);
    animation: cubeRotation var(--duration) cubic-bezier(0, 0.5, 0.7, 1) infinite;
}

.cube,
.bottom,
.side {
    width: var(--cube-size);
    height: var(--cube-size);
}

.bottom,
.side {
    position: absolute;
}

.bottom {
    background-color: var(--main-color);
    border-radius: 5px;
    box-shadow: 0 0 200px 0 var(--main-color-transparent);
    transform: translateY(calc(var(--cube-size) / var(--gap))) rotateX(-90deg);
}

.side {
    display: flex;
}

.side::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: var(--border-size) solid var(--main-color);
    border-radius: 5px;
    box-shadow: 0 0 200px 0 var(--main-color-transparent);
}

.back {
    transform: translateZ(calc(var(--cube-size) / var(--gap) * -1)) rotateY(180deg);
}

.back::after {
    animation: cubeSideOut var(--duration) cubic-bezier(0.5, 1, 0.5, 1) infinite both;
}

.left {
    transform: translateX(calc(var(--cube-size) / var(--gap) * -1)) rotateY(-90deg);
    display: none;
}

.right {
    transform: translateX(calc(var(--cube-size) / var(--gap))) rotateY(90deg);
}

.right::after {
    animation: cubeSideIn var(--duration) cubic-bezier(0.5, 1, 0.5, 1) infinite both;
}

.front {
    transform: translateZ(calc(var(--cube-size) / var(--gap)));
    display: none;
}

@keyframes cubeRotation {

    0%,
    80% {
        transform: rotateX(20deg) rotateY(-135deg);
    }

    100% {
        transform: rotateX(20deg) rotateY(-45deg);
    }
}

@keyframes cubeSideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    10%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes cubeSideOut {

    0%,
    80% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes movingGradient {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translate(50%, 50%);
    }
}


.postLoader {
    width: 100%;
}


.sections section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw;
    text-align: justify;
    margin: 20px 0;
}

section img {
    width: 70px;
    position: relative;
}



.content {
    color: #fff;
}

.main-div {
    display: flex;
    justify-content: space-between;
}



.main-div {
    background: #1b5577;
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.circle {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #1b5577;
}

.small {
    width: 20vw;
    height: 20vh;
    left: -8vw;
    top: -2vh;
}

.medium {
    width: 200px;
    height: 200px;
    left: -90px;
    top: -90px;
}

.large {
    width: 350px;
    height: 350px;
    left: -140px;
    top: -140px;
}

.shade1 {
    opacity: 0.4;
}

.shade2 {
    opacity: 0.3;
}

.shade3 {
    opacity: 0.2;
}



@keyframes ripple {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.8);
    }
}

.ripple-background {
    z-index: 1;
    position: fixed;
}


.seven-headers {

    font-size: 1.5rem;
    text-transform: uppercase;
}








#slider::-webkit-scrollbar {
    display: none;
}

#slider {
    padding: 30%;
    margin: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}

#slider::before,
#slider::after {
    background: linear-gradient(to right, rgb(68, 68, 68) 0%, rgba(83, 83, 83, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

#slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

#slider::before {
    left: 0;
    top: 0;
}

#slideTrack {
    display: flex;
    width: calc(250px *15);
    animation-direction: alternate;
    animation-timing-function: linear;
}

#slideTrack div {
    position: relative;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    perspective: 100px;
}

iframe {
    display: none;
    width: 100%;
    height: 14vw;
    transition: transform 1s;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px *12));
    }
}

.img {
    position: absolute;
    width: 90%;
    transition: all 2s;
}

#slideTrack div:hover .img {
    transform: translateY(-200px);
}


.icon2 {
    position: relative;
    top: 37px;
    left: 5px;
}

.inputfield {
    padding-left: 30px;
}

.background3 {
    background: #1a5577;
}
.btnCustom {
    z-index: 1;
font-size: 17px;
background: transparent;
border: none;
padding: 1em 1.5em;
color: #ffedd3;
text-transform: uppercase;
position: relative;
transition: 0.5s ease;
cursor: pointer;
}

.btnCustom::before {
content: "";
position: absolute;
left: 0;
bottom: 0;
height: 2px;
width: 0;
background-color: #ffc506;
transition: 0.5s ease;
}

.btnCustom:hover {
color: #1e1e2b;
transition-delay: 0.5s;
}

.btnCustom:hover::before {
width: 100%;
}

.btnCustom::after {
content: "";
position: absolute;
left: 0;
bottom: 0;
height: 0;
width: 100%;
background-color: #ffc506;
transition: 0.4s ease;
z-index: -1;
}

.btnCustom:hover::after {
height: 100%;
transition-delay: 0.4s;
color: aliceblue;
}
.margin{
margin-top: 30px;
}
.initials{
    font-size: 8rem;
    color: white;
    line-height: 1;
    font-weight: 600;
}
.customHeads{
    position: relative;
    z-index: 2;
}
#youtube{
    width: 80vw;
    margin: auto;
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    gap: 20px;
}
.slide2{
    position: relative;
    z-index: 20;
	margin-right:0.6vw;
  width: 30%;
  height: 15vw;
  transition: transform 0.6s;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.f2{
	background-image: url(https://i.ytimg.com/vi/CBQnU2H8x3Y/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCJ3TlvHqo6SmpCx5tovoTSHnGOoA);
}
.f3{
	background-image: url(https://i.ytimg.com/vi/Q0md_lMS47A/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLD2wc-NcjmfSLXtTux43OomOVR-tg);
}
.f4{
	background-image: url(https://i.ytimg.com/vi/N1tVDh6leQo/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAoQCry5l05TFhDwbWkeAIqhopcAQ);
}
.f5{
	background-image: url(https://i.ytimg.com/vi/OdvlNl_L-6U/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCqi0xEbbjwbEynf9CCtEwfud6vfQ);
}
.f6{
	background-image: url(https://i.ytimg.com/vi/CUy9e-cg-j0/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDMOT5Bmwp-dkI5rws7dv7D66C4iQ);
}

.slide2 div{
	display: none;
  padding:70% 5% 0;
}
h5{
	font-size: 1vw;
	color: white;
	margin: 0;
	padding-top: 0.5vw;
}
h4{
	font-size: 1vw;
	color: grey;
	margin: 0;
	padding-top: 0.5vw;
}
p{
	font-size: 0.8vw;
	color: whitesmoke;
	margin: 0;
	padding-top: 0.3vw;
}
.slide2:hover{
	transform: scale(1.1);
	z-index: 21;
}
.slide2:hover > div{
	display: block;
    box-shadow: 1px 1px 10px black,-1px -1px 10px black;
	background-image: linear-gradient(180deg,#ffffff00,#ffffff00,#ffffff00,#1b2530,#1b2530,#1b2530,#1b2530,#1b2530);
}
.slide2:hover > iframe{
	position: absolute;
    display: block;
}
.slide2 div:hover{
	box-shadow: 1px 1px 10px black,-1px -1px 10px black;
	background-image: linear-gradient(180deg,#ffffff00,#ffffff00,#ffffff00,#1b2530,#1b2530,#1b2530,#1b2530,#1b2530);
}