.page-intro{
    background-color: white;
    padding: 10px;
    font-weight: 600;
}

.card{
color: #fff;
}
.card1{
    background: #20A8D8;
    
}

.card2{
    background: #FFC107;
}

.card3{
    background: #F86C6B;
}

.card4{
    background: #4875B4;
}


